@media screen and (max-width: 768px) {
  .firstText h2 {
    font-size: 1.5rem;
  }

  .nav-links li {
    opacity: 1; 
    transform: translateX(0px); 
  }
    
  .firstText p {
    font-size: 1rem;
    padding: 0 20px;
  }

  .firstText {
    margin-top: 20%;
  }

  .head1,
  .head2,
  .head3 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  .logos-slide img {
    height: 80px;
    margin: 0 1rem;
  }

  .galleryWrapper img {
    max-width: 60%;
    margin: 0 0.5rem;
  }

  .prevButton,
  .nextButton {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .pagination button {
    font-size: 1.5rem;
    margin: 0 0.25rem;
  }
}

@media screen and (min-width: 769px) {
  .firstText h2 {
    font-size: 2.5rem;
  }

  .firstText p {
    font-size: 1.5rem;
  }

  .head1,
  .head2,
  .head3 {
    font-size: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .logos-slide img {
    height: 150px;
    margin: 0 3rem;
  }

  .galleryWrapper img {
    max-width: 80%;
    margin: 0 2rem;
  }

  .prevButton,
  .nextButton {
    font-size: 2rem;
    padding: 1rem;
  }

  .pagination button {
    font-size: 2.5rem;
    margin: 0 0.5rem;
  }
}
