html {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url(../Images/bg_squares.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333333; 
    width: 100%;
}

/* --------------------------------------Styles for the header---------------------------------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 1em;
    position: relative;
    background-image: url(../Images/brownsville1910.png);
    background-position: center; 
}

.nvsLogo img {
    width: 9vw;
    height: auto;
}

.navBar {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 2vw;
}

.navBar a, .dropbtn {
    font-size: 1em; 
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1em;
    padding: 0.5em;
    border-radius: 0.3125em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navBar a:hover, .navBar a:focus, .dropbtn:hover, .dropbtn:focus {
    background-color: #ff7c1a;
    color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff7c1a;
    border-radius: 0.3125em;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 0.75em 0.5em;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #ff7c1a;
}

.dropdown .dropbtn:hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
}


.dropdown-content .jan{ 
    border-bottom-left-radius: 0%; 
    border-bottom-right-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .mec, .dropdown-content .rep{ 
    border-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .oth{ 
    border-top-left-radius: 0%; 
    border-top-right-radius: 0%; 
    margin-right: 0px; 
}

.requestQuote {
    background-color: transparent;
    color: #3e2a75;
    border-radius: 1.25em;
    border: 2px solid #3e2a75;
    padding: 0.9375em 1.875em;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
}

.requestQuote:hover, .requestQuote:focus {
    background-color: #3e2a75;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* --------------------------------------Styles for the main content---------------------------------------------- */

.firstText {
    max-width: 950px;
    margin: auto;
    padding: auto;
    text-align: center;
}

.firstText h2 {
    color: #3e2a75; 
    font-size: 2.5em; 
}

.firstText p {
    color: black; 
    font-size: 1.5em; 
}

/* ------------------------------------------Styles for the carousel section-------------------------------------- */

.head1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: black;
    margin: 0 auto 20px;
    padding: 0;
    padding-top: 4%;
    padding-bottom: 2%;
    border-top: 6px solid #3e2a75; 
}

.head2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: black;
    margin: 0 auto 20px;
    padding: 0;
    padding-top: 4%;
    padding-bottom: 2%;
    border-top: 6px solid darkgreen; 
}

.logos2{
    border-bottom: 6px solid #ff7c1a;
}

.logos1,
.logos2 {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    padding-top: 0%;
    padding-bottom: 3%;
    position: relative;
}

.logos-slide {
    display: inline-block;
}

.logos-slide a {
    display: inline-block;
    transition: transform 0.3s;
}

.logos-slide a:hover {
    transform: translateY(-5px);
}

.logos-slide img {
    height: 100px;
    margin: 0 50px;
    padding: 12.5px 0;
    transition: transform 0.3s;
    box-shadow: none;
}

/*-----------------------------------------====--Styles for the footer-------------------------------------------- */

footer {
    display: flex;
    background-color: #231f20;
    color: white;
    width: 100%;
    padding: 1em 0;
}

.footerLogo {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    border-right: 1px solid #666;
}

.footerLogo img {
    width: 100%;
    height: auto;
}

.footerLogo img:hover{
    opacity: 0.8;
}

.footerContact {
    margin: 5px 0; 
    flex-direction: column;
    float: left; 
    padding-left: 1%;
}

.footerContact a{
    color: white;
    text-decoration: none;
}

.footerContact a:hover{
    color: #ff7c1a;
}

.footerContact, .rightSec {
    flex: 1;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
}

.footerNav {
    width: 700px;
    flex-wrap: wrap;  
    text-align: right;
    margin-top: 2%;
    margin-bottom: 5%;
}

.footerNav a {
    padding: 0.3125em 0.625em;
    text-decoration: none;
    color: white;
}

.footerNav a:hover {
    color: #ff7c1a;
}

.footerSocial {
    text-align: right;
}

.footerSocial a {
    display: inline-flex;  
    justify-content: center; 
    align-items: center;  
    width: 1.6em;
    height: 1.6em;
    margin: 0 0.3em;
    font-size: 1.5em; 
    color: white;
    border: 2px solid white; 
    border-radius: 50%;  
    background-color: #231f20;  
    transition: border-color 0.3s ease, color 0.3s ease; 
    text-decoration: none;
}

.footerSocial a:hover, .footerSocial a:focus {
    color: #ff7c1a;
    border-color: #ff7c1a;
}

.copyrightSec {
    font-size: 0.75em;
    text-align: right;
    margin-top: 3%;
}

.copyrightSec a{
    color: white;
    text-decoration: none;
}

.copyrightSec a:hover{
    color: #ff7c1a;
}

.footerNav, .footerSocial, .copyrightSec {
    margin-top: 1em;
}