html {
    background-color: antiquewhite;
    background-image: url("./Images/man_mopping_the_floor-scaled.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove the large top margin */
    color: #333; /* Improved text visibility */
}

.header {
    display: flex; /* Establish flex container */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start */
    color: white;
    padding: 1rem; /* Adjusted padding */
    position: relative;
}

.nvsLogo img {
    width: 120px; /* Adjust size as necessary */
    height: auto;
}

.navBar {
    display: flex; /* Ensure nav items are also flexed for alignment */
    margin-left: 20px; /* Adjust as needed for spacing */
}

.navBar a {
    font-size: large;
    color: white;
    text-decoration: none;
    margin-right: 20px; /* Adjust as needed for spacing between links */
}

.navBar a:hover {
    color: #ff7c1a; /* Change color on hover */
}

.requestQuote {
    background-color: #ff7c1a;
    color: #3e2a75;
    padding: 10px 20px; /* Use padding instead of width/height for button sizing */
    cursor: pointer;
    position: absolute;
    right: 10px; /* Adjust based on desired spacing from the right edge */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
}

footer {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content */
    align-items: center; /* Vertically align items */
    flex-direction: column; /* Stack items vertically */
    background-color: #231f20;
    color: white;
    padding: 20px 0; /* Add padding for spacing */
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .nvsLogo img, .requestQuote {
        width: auto; /* Adjust logo and button size on smaller screens */
    }
    .header, footer {
        flex-direction: column; /* Stack header/footer items on smaller screens */
    }
}
