html{
    background-color: #242424;
    color: aliceblue;
}

.nvsLogo img{
    width: 15%;
    height: auto;
    margin-top: 1%;
    float: left;
    z-index: 1;
}

.navbar{
    
    height: 10%;
    width: 100%;

    float: right;
    z-index: 1;
}

.requestQuote{
    width: 20%;
    height: 20%;
    margin-top: 1%;
    float: right;
    z-index: 1;
}

body{
    background-image: url("./Images/man_mopping_the_floor-scaled.jpg");
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h3, div img {
    width: 150px; /* Adjust this value as needed */
    height: auto; /* This will maintain the aspect ratio of the images */
}

footer{
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #333;
    color: white;
    text-align: center;
}