html {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../Images/bg_squares.svg);
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #333333; 
}

/* --------------------------------------Styles for the header---------------------------------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding: 1rem;
    position: relative;
    background-image: url(../Images/brownsville1910.png);
}

.nvsLogo img {
    width: 175px;
    height: auto;
}

.navBar {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 20px;
}

.navBar a, .dropbtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #3e2a75;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navBar a:hover, .navBar a:focus, .dropbtn:hover, .dropbtn:focus {
    background-color: #ff7c1a;
    color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: auto; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff7c1a;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: auto; 
}

.dropdown-content a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #ff7c1a;
}

.dropdown .dropbtn:hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
}


.dropdown-content .jan{ 
    border-bottom-left-radius: 0%; 
    border-bottom-right-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .mec, .dropdown-content .rep{ 
    border-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .oth{ 
    border-top-left-radius: 0%; 
    border-top-right-radius: 0%; 
    margin-right: 0px; 
}

.requestQuote {
    background-color: transparent;
    color: #3e2a75;
    border-radius: 20px;
    border: 2px solid #3e2a75;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.requestQuote:hover, .requestQuote:focus {
    background-color: #3e2a75;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* --------------------------------------Styles for the main content---------------------------------------------- */

/* --------------------------------------Styles for the Video section---------------------------------------------- */

.hoo-wii-r {
    max-width: 1000px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 7%;
    margin-bottom: 7%;
}

.hoo-wii-r h2 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #3e2a75; 
    margin: 0 auto 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.hoo-wii-r iframe {
    width: 560px; 
    height: 315px; 
    border-radius: 15px; 
    margin: 0 auto 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.hoo-wii-r p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #666; 
    padding: 1%;
    margin-bottom: 20px; 
}

.hoo-wii-r button {
    background-color: transparent;
    color: #3e2a75; 
    border-radius: 20px;
    border: 2px solid #3e2a75; 
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; 
    letter-spacing: 1px;
    text-transform: uppercase; 
    margin-top: 5%; 
}

.hoo-wii-r button:hover {
    background-color: #3e2a75; 
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* ------------------------------------------Styles for the carousel section-------------------------------------- */

.head1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: black;
    margin: 0 auto 20px;
    padding: 0;
    padding-top: 4%;
    padding-bottom: 2%;
    border-top: 6px solid #3e2a75; 
}

.logos1{
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    padding-top: 0%;
    padding-bottom: 3%;
    position: relative;
}

.logos1:before{
    position : absolute;
    top: 0%;
    left: 0%;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0), white);
    content: "";
    z-index: 2;
}

.logos1::after{
    position : absolute;
    top: 0%;
    right: 0%;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0), white);
    content: "";
    z-index: 2;
}

.logos-slide{
    display: inline-block;
    animation: slide 18s linear infinite;
}

.logos-slide img {
    height: 125px; 
    margin: 0 50px; 
    transition: transform 0.2s ease-in-out; 
}

.logos-slide img:hover {
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    border-radius: 5%;
    filter: brightness(1) saturate(1.5); /* Brightens and increases saturation for a vivid effect */
}

.logos1:hover .logos-slide{
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/*----------------------------------------------Styles for the footer-------------------------------------------- */

footer {
    display: flex;
    background-color: #231f20;
    color: white;
    width: 100%;
}

.footerLogo{
    width: 200px;
    height: auto;
    display: flex;
    margin-bottom: 2%;  
    margin-top: 2%;
    float: left;
    padding-left: 2%;
    padding-right: 1%;
    border-right: #666 1px solid;
}

.footerLogo img{
    width: 100%;
    height: auto;
}

.footerLogo img:hover{
    opacity: 0.8;
}

.footerContact {
    margin: 5px 0; 
    flex-direction: column;
    float: left; 
    padding-left: 1%;
}

.footerContact a{
    color: white;
    text-decoration: none;
}

.footerContact a:hover{
    color: #ff7c1a;
}

.rightSec{
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 8%;
}

.footerNav {
    width: 700px;
    flex-wrap: wrap;  
    text-align: right;
    margin-top: 2%;
    margin-bottom: 5%;
}

.footerNav a {
    padding: 5px 10px; 
    text-decoration: none;
    color: white;
}

.footerNav a:hover {
    color: #ff7c1a;
}

.footerSocial {
    text-align: right;
}

.footerSocial a {
    display: inline-flex;  
    justify-content: center; 
    align-items: center;  
    width: 40px;  
    height: 40px; 
    margin: 0 10px;
    font-size: 24px; 
    color: white;
    border: 2px solid white; 
    border-radius: 50%;  
    background-color: #231f20;  
    transition: all 0.3s ease; 
    text-decoration: none;  /* Removes underline from the link */
}

.footerSocial a:hover {
    color: #ff7c1a;
    border-color: #ff7c1a;
    transition: color 0.3s ease;  
}

.copyrightSec {
    font-size: 0.75em;
    text-align: right;
    margin-top: 3%;
}

.copyrightSec a{
    color: white;
    text-decoration: none;
}

.copyrightSec a:hover{
    color: #ff7c1a;
}
