html {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../Images/bg_squares.svg);
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #333333; 
}

/* --------------------------------------Styles for the header---------------------------------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding: 1rem;
    position: relative;
    background-image: url(../Images/mainHeader.png);
}

.nvsLogo img {
    width: 175px;
    height: auto;
}

.navBar {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 20px;
}

.navBar a, .dropbtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #3e2a75;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navBar a:hover, .navBar a:focus, .dropbtn:hover, .dropbtn:focus {
    background-color: #ff7c1a;
    color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: auto; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff7c1a;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: auto; 
}

.dropdown-content a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #ff7c1a;
}

.dropdown .dropbtn:hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
}


.dropdown-content .jan{ 
    border-bottom-left-radius: 0%; 
    border-bottom-right-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .mec, .dropdown-content .rep{ 
    border-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .oth{ 
    border-top-left-radius: 0%; 
    border-top-right-radius: 0%; 
    margin-right: 0px; 
}

.requestQuote {
    background-color: transparent;
    color: #3e2a75;
    border-radius: 20px;
    border: 2px solid #3e2a75;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.requestQuote:hover, .requestQuote:focus {
    background-color: #3e2a75;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* --------------------------------------Styles for the Title Text---------------------------------------------- */

.titleCard {
    max-width: 100%;
    background-image: url(../Images/lawn_car_header-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.titleCard h2 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white; 
    margin: 0 auto 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

/* --------------------------------------Styles for Our Company section---------------------------------------------- */

.rComp {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 40px;
    max-width: 1200px;
    margin: auto; 
}

.rComp img {
    width: 80%; 
    height: auto;
    margin: 20px 0; 
    border-radius: 5%; 
    border: #666 3px solid;
}

.rComp h2 {
    width: 80%; 
    color: #3e2a75;
    font-size: 2.5em; 
    text-align: center; 
    margin-bottom: 20px; 
}

.rComp p {
    width: 80%; 
    font-size: 1.2rem;
    line-height: 1.8; 
    color: black;
    text-align: justify; 
    text-indent: 20px; 
    column-count: 2; 
    column-gap: 40px; 
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .rComp {
        flex-direction: column;
    }

    .rComp img {
        width: 100%; 
    }

    .rComp h2, .rComp p {
        width: 90%; 
    }

    .rComp p {
        column-count: 1; 
    }
}

/* --------------------------------------Styles for the Video section---------------------------------------------- */

.cert{
    background-image: url(../Images/brownsville1910.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 6px solid #3e2a75;
}

.certifExcell {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.certifExcell .videoContainer {
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

.videoWrapper iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px; 
    margin: 0 auto 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: #666 3px solid;
}

.certifExcell .textContainer {
    padding: 10px;
}

.contentWrapper {
    background-color: #ccc; 
    border: #666 3px solid; 
    border-radius: 10px; 
    padding: 20px;
    width: 90%; 
}

.certifExcell h2 {
    color: black; 
    font-size: 2em; 
    margin-bottom: 15px; 
}

.certifExcell p {
    font-size: 1.2rem; 
    line-height: 1.5; 
    color: #333333; 
    text-align: justify; 
}

@media (max-width: 768px) {
    .certifExcell {
        grid-template-columns: 1fr; /* Stack on small screens */
    }
    .certifExcell .textContainer {
        border-left: none;
        border-top: 1px solid #ccc;
    }
}
/* ------------------------------------------Styles for the carousel section-------------------------------------- */

.head1{
  font-size: 3rem;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  color: black;
}

.head1 {
  border-top: 6px solid #3e2a75;
  margin-bottom: 2rem;
}

.logos1{
  overflow: hidden;
  padding: 2rem 0;
  white-space: nowrap;
  position: relative;
}

.logos-slide {
  display: inline-block;
}

.logos-slide a {
  display: inline-block;
  transition: transform 0.3s;
}

.logos-slide a:hover {
  transform: translateY(-5px);
}

.logos-slide img {
  height: 100px;
  margin: 0 2rem;
  padding: 0.5rem 0;
  transition: transform 0.3s;
  box-shadow: none;
}



/* --------------------------------------Styles for the bottom two sections---------------------------------------------- */

.sections-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.communityImpact, .EnvironSteward {
    flex: 1; 
    margin-top: 5%;
    padding: 20px;
    box-sizing: border-box; 
}

.communityImpact h2, .EnvironSteward h2 {
    margin: auto; 
    width: 100%; 
    color: #3e2a75;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

.communityImpact p, .EnvironSteward p {
    margin: auto; 
    width: 100%; 
    max-width: 80%; 
    font-size: 1.2rem;
    line-height: 1.8;
    color: black;
    text-align: justify;
    text-indent: 20px;
}

@media (max-width: 768px) {
    .sections-container {
        flex-direction: column;
    }

    .communityImpact, .EnvironSteward {
        flex-basis: 100%; 
    }
}


/*----------------------------------------------Styles for We Serve section--------------------------------------- */

.sectionContainer2 {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.weServe{
    flex: 1; 
    margin-top: 5%;
    padding: 20px;
    box-sizing: border-box; 
}

.weServe h2{
    margin: auto; 
    width: 100%; 
    color: #3e2a75;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

.weServe p{
    margin: auto; 
    width: 100%; 
    max-width: 80%; 
    font-size: 1.2rem;
    line-height: 1.8;
    color: black;
    text-align: justify;
    text-indent: 20px;
}

.ourTeam{
    flex: 1; 
    margin-top: 5%;
    padding: 20px;
    box-sizing: border-box; 
    background-color: #3e2a75;
    text-align: center;
    height: 20em;
    border: #1e123f 3px solid;
    border-radius: 10px;
    height: 10%;
}

.ourTeam h3{
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.ourTeam p{
    color: white;
    font-size: 1.5rem;
    line-height: 1.8;
}

.ourTeam button {
    background-color: white;
    color: #3e2a75; 
    border-radius: 20px;
    border: 2px solid #3e2a75; 
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; 
    letter-spacing: 1px;
    text-transform: uppercase;  
}

.ourTeam button:hover {
    background-color: #3e2a75; 
    color: white;
    border-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


@media (max-width: 768px) {
    .sectionContainer2 {
        flex-direction: column;
    }

    .weServe, .ourTeam {
        flex-basis: 100%; 
    }
}

/*----------------------------------------------Styles for the footer-------------------------------------------- */

footer {
    display: flex;
    background-color: #231f20;
    color: white;
    width: 100%;
}

.footerLogo{
    width: 200px;
    height: auto;
    display: flex;
    margin-bottom: 2%;  
    margin-top: 2%;
    float: left;
    padding-left: 2%;
    padding-right: 1%;
    border-right: #666 1px solid;
}

.footerLogo img{
    width: 100%;
    height: auto;
}

.footerLogo img:hover{
    opacity: 0.8;
}

.footerContact {
    margin: 5px 0; 
    flex-direction: column;
    float: left; 
    padding-left: 1%;
}

.footerContact a{
    color: white;
    text-decoration: none;
}

.footerContact a:hover{
    color: #ff7c1a;
}

.rightSec{
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 8%;
}

.footerNav {
    width: 700px;
    flex-wrap: wrap;  
    text-align: right;
    margin-top: 2%;
    margin-bottom: 5%;
}

.footerNav a {
    padding: 5px 10px; 
    text-decoration: none;
    color: white;
}

.footerNav a:hover {
    color: #ff7c1a;
}

.footerSocial {
    text-align: right;
}

.footerSocial a {
    display: inline-flex;  
    justify-content: center; 
    align-items: center;  
    width: 40px;  
    height: 40px; 
    margin: 0 10px;
    font-size: 24px; 
    color: white;
    border: 2px solid white; 
    border-radius: 50%;  
    background-color: #231f20;  
    transition: all 0.3s ease; 
    text-decoration: none;  /* Removes underline from the link */
}

.footerSocial a:hover {
    color: #ff7c1a;
    border-color: #ff7c1a;
    transition: color 0.3s ease;  
}

.copyrightSec {
    font-size: 0.75em;
    text-align: right;
    margin-top: 3%;
}

.copyrightSec a{
    color: white;
    text-decoration: none;
}

.copyrightSec a:hover{
    color: #ff7c1a;
}
