html {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../Images/bg_squares.svg);
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #333333; 
}

/* --------------------------------------Styles for the header---------------------------------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding: 1rem;
    position: relative;
    background-image: url(../Images/mainHeader.png);
}

.nvsLogo img {
    width: 175px;
    height: auto;
}

.navBar {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 20px;
}

.navBar a, .dropbtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #3e2a75;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navBar a:hover, .navBar a:focus, .dropbtn:hover, .dropbtn:focus {
    background-color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: auto; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e2a75;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: auto; 
}

.dropdown-content a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #3e2a75;
}

.dropdown .dropbtn:hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
}


.dropdown-content .jan{ 
    border-bottom-left-radius: 0%; 
    border-bottom-right-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .mec, .dropdown-content .rep{ 
    border-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .oth{ 
    border-top-left-radius: 0%; 
    border-top-right-radius: 0%; 
    margin-right: 0px; 
}

.requestQuote {
    background-color: transparent;
    color: #3e2a75;
    border-radius: 20px;
    border: 2px solid #3e2a75;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.requestQuote:hover, .requestQuote:focus {
    background-color: #3e2a75;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* --------------------------------------Styles for the Title Card---------------------------------------------- */

.titleCard {
    max-width: 100%;
    background-image: url(../Images/lawn_car_header-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.titleCard h2 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white; 
    margin: 0 auto 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}


/* --------------------------------------Styles for the main content---------------------------------------------- */


.application-form {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    border: 1px solid #e1e1e1;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden; 
}

.progress {
    height: 100%;
    background-color: #3e2a75;
    border-radius: 10px;
    width: 20%; 
    position: relative;
}

.progress-percentage {
    position: absolute;
    right: 5px; 
    top: 0;
    color: white; 
    font-size: 0.8em;
    line-height: 20px; 
    font-weight: bold;
    pointer-events: none; 
    transition: transform 0.3s ease;
}

.form-step {
    display: none;
}

.form-step.active {
    display: block; 
}

h2 {
    color: #3e2a75;
    font-size: 2rem;
    margin-bottom: 20px;
}

label {
    margin-bottom: 15px;
    display: block;
    font-size: 1rem;
    color: #333;
    width: 96%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #2e2a75;
    outline: none;
}

button.next-btn,
button.prev-btn {
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #3e2a75;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

button.next-btn:hover,
button.prev-btn:hover {
    background-color: #29235c;
}

button.prev-btn {
    background-color: #ccc;
    color: #333;
}

button.prev-btn:hover {
    background-color: #bbb;
}

.field-container {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-row {
    display: block;
    justify-content: start;
    gap: 10px;
}

.input-group input {
    flex-grow: 1; 
    display: flex;
}

.addButton, .removeButton {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #3e2a75;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.removeButton {
    margin-left: 10px;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #ff7c1a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    float: left;
    width: 10.5%;
}


#namesContainer, #residentialAddressContainer {
    display: flex;
    flex-direction: column;
}

.signature-pad {
    text-align: left; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 5px; 
}

.signature-pad canvas {
    border: 1px solid #000; 
    display: block; 
    margin: 0 auto 10px; 
    cursor: crosshair;
    margin-right: 75%;
}

#clearSignature {
    display: inline-block; 
    padding: 8px 16px; 
    background-color: #3e2a75;
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 14px; 
    text-transform: uppercase; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

#clearSignature:hover {
    background-color: #291c4f; 
}

@media (max-width: 768px) {
    .application-form {
        padding: 20px;
        margin: 20px;
    }
}

/*-----------------------------------------====--Styles for the footer-------------------------------------------- */

footer {
    display: flex;
    background-color: #231f20;
    color: white;
    width: 100%;
}

.footerLogo{
    width: 200px;
    height: auto;
    display: flex;
    margin-bottom: 2%;  
    margin-top: 2%;
    float: left;
    padding-left: 2%;
    padding-right: 1%;
    border-right: #666 1px solid;
}

.footerLogo img{
    width: 100%;
    height: auto;
}

.footerLogo img:hover{
    opacity: 0.8;
}

.footerContact {
    margin: 5px 0; 
    flex-direction: column;
    float: left; 
    padding-left: 1%;
}

.footerContact a{
    color: white;
    text-decoration: none;
}

.footerContact a:hover{
    color: #ff7c1a;
}

.rightSec{
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 8%;
}

.footerNav {
    width: 700px;
    flex-wrap: wrap;  
    text-align: right;
    margin-top: 2%;
    margin-bottom: 5%;
}

.footerNav a {
    padding: 5px 10px; 
    text-decoration: none;
    color: white;
}

.footerNav a:hover {
    color: #ff7c1a;
}

.footerSocial {
    text-align: right;
}

.footerSocial a {
    display: inline-flex;  
    justify-content: center; 
    align-items: center;  
    width: 40px;  
    height: 40px; 
    margin: 0 10px;
    font-size: 24px; 
    color: white;
    border: 2px solid white; 
    border-radius: 50%;  
    background-color: #231f20;  
    transition: all 0.3s ease; 
    text-decoration: none;  /* Removes underline from the link */
}

.footerSocial a:hover {
    color: #ff7c1a;
    border-color: #ff7c1a;
    transition: color 0.3s ease;  
}

.copyrightSec {
    font-size: 0.75em;
    text-align: right;
    margin-top: 3%;
}

.copyrightSec a{
    color: white;
    text-decoration: none;
}

.copyrightSec a:hover{
    color: #ff7c1a;
}
