html {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../Images/bg_squares.svg);
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #333333; 
}


/* --------------------------------------Styles for the Title Card---------------------------------------------- */

.topSection {
    height: auto;
    display: flex;
    justify-content: space-between; 
    max-width: 950px;
    margin: 20px auto; 
    padding: 20px 40px;
    text-align: center;
}

.topSection p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 0 auto 20px;
    padding: 2%;
    text-align: center;
    font-size: 1.5em; 
    max-width: 75rem;
}

.imgTwo button {
    background-color: transparent;
    color: #3e2a75; 
    border-radius: 20px;
    border: 2px solid #3e2a75; 
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; 
    letter-spacing: 1px;
    text-transform: uppercase; 
}

.imgTwo button:hover {
    background-color: #3e2a75; 
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.titleCard {
    max-width: 100%;
    background-image: url(../../Images/Other-Services-Header-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.titleCard h5 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: #ff7c1a; 
    margin: 0 auto;
    padding-top: 2%;
    text-align: center;
}

.titleCard h2 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white; 
    margin: 0 auto 20px;
    padding-bottom: 2%;
    text-align: center;
}

/* --------------------------------------Styles for the main content---------------------------------------------- */


.serviceSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
    padding: 50px;
    background: transparent;
    justify-content: center;
    align-items: stretch; 
    grid-auto-rows: minmax(100px, auto); 
}

.serviceCard {
    background: #3e2a7549;
    border-radius: 8px;
    border: .2cap solid #3e2a75; 
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    height: auto; 
    margin-bottom: 20px; 
}


.serviceIcon {
    width: 100px;
    margin-bottom: 0.1em;
}

.serviceCard h3 {
    color: #3e2a75;
    font-size: 3rem;
    margin-bottom: 1%;
    font-weight: bold;
    text-align: center;
}

.serviceCard p {
    font-size: 1.3rem;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    flex-grow: 1; 
}

@media screen and (max-width: 768px) {
    .serviceSection {
        grid-template-columns: 1fr; 
        padding: 30px;
        grid-auto-rows: minmax(100px, auto);
    }

    .serviceCard {
        padding: 15px;
        margin-bottom: 20px; 
    }

    .serviceIcon {
        width: 80px;
    }
}






.sectionContainer2 {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 5%;
}

.bottomLeft{
    flex: 1; 
    padding: 20px;
    box-sizing: border-box; 
}

.bottomLeft img{
    width: 35%; 
    height: auto;
    margin: 0 auto;
    -ms-flex-align: center;
    margin-left: 10%;
}

.bottomLeft p{
    margin: auto; 
    width: 100%; 
    max-width: 80%; 
    font-size: 1.2rem;
    line-height: 1.8;
    color: black;
    text-align: justify;
}

.ourTeam {
    max-width: 1200px;
    background-color: #3e2a75;
    text-align: center;
    border: #1e123f 3px solid;
    border-radius: 10px;
    box-sizing: border-box; /* Ensures padding does not affect the width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 415px;
}

.ourTeam h3 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px; /* Controlled margin for spacing */
}

.ourTeam p {
    color: white;
    font-size: 1.5rem;
    line-height: 1.8;
    max-width: 80%;  
}

.ourTeam button {
    background-color: white;
    color: #3e2a75;
    border-radius: 20px;
    border: 2px solid #3e2a75;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.ourTeam button:hover {
    background-color: #3e2a75;
    color: white;
    border-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .ourTeam {
        padding: 20px;
    }

    .ourTeam h3 {
        font-size: 2rem;
    }

    .ourTeam p {
        font-size: 1.2rem;
        max-width: 90%;
    }

    .ourTeam button {
        padding: 10px 20px;
        font-size: 14px;
    }
}


@media (max-width: 768px) {

    .bottomLeft, .ourTeam {
        flex-basis: 100%; 
    }
}

