html {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../Images/bg_squares.svg);
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #333333; 
}

/* --------------------------------------Styles for the header---------------------------------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding: 1rem;
    position: relative;
    background-image: url(../../Images/mainHeader.png);
}

.nvsLogo img {
    width: 175px;
    height: auto;
}

.navBar {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 20px;
}

.navBar a, .dropbtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #3e2a75;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navBar a:hover, .navBar a:focus, .dropbtn:hover, .dropbtn:focus {
    background-color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: auto; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e2a75;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: auto; 
}

.dropdown-content a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #3e2a75;
}

.dropdown .dropbtn:hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
}


.dropdown-content .jan{ 
    border-bottom-left-radius: 0%; 
    border-bottom-right-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .mec, .dropdown-content .rep{ 
    border-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .oth{ 
    border-top-left-radius: 0%; 
    border-top-right-radius: 0%; 
    margin-right: 0px; 
}

.requestQuote {
    background-color: transparent;
    color: #3e2a75;
    border-radius: 20px;
    border: 2px solid #3e2a75;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.requestQuote:hover, .requestQuote:focus {
    background-color: #3e2a75;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* --------------------------------------Styles for the Title Card---------------------------------------------- */

.titleCard {
    max-width: 100%;
    background-image: url(../../Images/janitorial_header-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.titleCard h5 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: #ff7c1a; 
    margin: 0 auto;
    padding-top: 2%;
    text-align: center;
}

.titleCard h2 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white; 
    margin: 0 auto 20px;
    padding-bottom: 2%;
    text-align: center;
}

/* --------------------------------------Styles for the top content---------------------------------------------- */

.topSection {
    max-width: 70%;
    height: auto;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
}

.topSectionContent {
    width: 60%; 
    padding-right: 20px;  
    font-size: 1.2rem;
    line-height: 1.8; 
    color: black;
}

.topSectionImgs {
    width: 27%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topSectionImgs img {
    width: 100%;
    height: auto;
}

.imgOne a {
    text-decoration: none;
    color: #ff7c1a; 
    font-size: .95rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase; 
}

.imgTwo button {
    background-color: transparent;
    color: #3e2a75; 
    border-radius: 20px;
    border: 2px solid #3e2a75; 
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; 
    letter-spacing: 1px;
    text-transform: uppercase; 
    margin-top: 5%; 
}

.imgTwo button:hover {
    background-color: #3e2a75; 
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* --------------------------------------Styles for the second section---------------------------------------------- */

.serviceSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
    padding: 50px;
    background: transparent;
    justify-content: center;
    align-items: stretch; 
    grid-auto-rows: minmax(100px, auto); 
}

.serviceCard {
    background: #3e2a7549;
    border-radius: 8px;
    border: .2cap solid #3e2a75; 
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    height: auto; 
    margin-bottom: 20px; 
}

.serviceIconEnhancClean {
    width: 80px;
    margin-bottom: 5px;
}

.serviceIcon {
    width: 100px;
    margin-bottom: 20px;
}

.serviceCard h3 {
    color: #3e2a75;
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.serviceCard p {
    font-size: 1.3rem;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    flex-grow: 1; 
}

@media screen and (max-width: 768px) {
    .serviceSection {
        grid-template-columns: 1fr; 
        padding: 30px;
        grid-auto-rows: minmax(100px, auto);
    }

    .serviceCard {
        padding: 15px;
        margin-bottom: 20px; 
    }

    .serviceIcon {
        width: 80px;
    }
}

/*----------------------------------------------Styles for We Serve section--------------------------------------- */

.sectionContainer2 {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 5%;
}

.bottomLeft{
    flex: 1; 
    padding: 20px;
    box-sizing: border-box; 
}

.bottomLeft img{
    width: 35%; 
    height: auto;
    margin: 0 auto;
    -ms-flex-align: center;
    margin-left: 10%;
}

.bottomLeft p{
    margin: auto; 
    width: 100%; 
    max-width: 80%; 
    font-size: 1.2rem;
    line-height: 1.8;
    color: black;
    text-align: justify;
}

.ourTeam{
    flex: 1; 
    margin-top: 5%;
    padding: 20px;
    box-sizing: border-box; 
    background-color: #3e2a75;
    text-align: center;
    height: 20em;
    border: #1e123f 3px solid;
    border-radius: 10px;
    height: 10%;
}

.ourTeam h3{
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.ourTeam p{
    color: white;
    font-size: 1.5rem;
    line-height: 1.8;
}

.ourTeam button {
    background-color: white;
    color: #3e2a75; 
    border-radius: 20px;
    border: 2px solid #3e2a75; 
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; 
    letter-spacing: 1px;
    text-transform: uppercase;  
}

.ourTeam button:hover {
    background-color: #3e2a75; 
    color: white;
    border-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


@media (max-width: 768px) {
    .sectionContainer2 {
        flex-direction: column;
    }

    .bottomLeft, .ourTeam {
        flex-basis: 100%; 
    }
}


/*-----------------------------------------====--Styles for the footer-------------------------------------------- */

footer {
    display: flex;
    background-color: #231f20;
    color: white;
    width: 100%;
}

.footerLogo{
    width: 200px;
    height: auto;
    display: flex;
    margin-bottom: 2%;  
    margin-top: 2%;
    float: left;
    padding-left: 2%;
    padding-right: 1%;
    border-right: #666 1px solid;
}

.footerLogo img{
    width: 100%;
    height: auto;
}

.footerLogo img:hover{
    opacity: 0.8;
}

.footerContact {
    margin: 5px 0; 
    flex-direction: column;
    float: left; 
    padding-left: 1%;
}

.footerContact a{
    color: white;
    text-decoration: none;
}

.footerContact a:hover{
    color: #ff7c1a;
}

.rightSec{
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 8%;
}

.footerNav {
    width: 700px;
    flex-wrap: wrap;  
    text-align: right;
    margin-top: 2%;
    margin-bottom: 5%;
}

.footerNav a {
    padding: 5px 10px; 
    text-decoration: none;
    color: white;
}

.footerNav a:hover {
    color: #ff7c1a;
}

.footerSocial {
    text-align: right;
}

.footerSocial a {
    display: inline-flex;  
    justify-content: center; 
    align-items: center;  
    width: 40px;  
    height: 40px; 
    margin: 0 10px;
    font-size: 24px; 
    color: white;
    border: 2px solid white; 
    border-radius: 50%;  
    background-color: #231f20;  
    transition: all 0.3s ease; 
    text-decoration: none;  /* Removes underline from the link */
}

.footerSocial a:hover {
    color: #ff7c1a;
    border-color: #ff7c1a;
    transition: color 0.3s ease;  
}

.copyrightSec {
    font-size: 0.75em;
    text-align: right;
    margin-top: 3%;
}

.copyrightSec a{
    color: white;
    text-decoration: none;
}

.copyrightSec a:hover{
    color: #ff7c1a;
}
