.nvsLogo{
    width: 20%;
    height: 20%;
    margin-top: 5%;
    float: right;
    z-index: 1;
}

.navbar{
    
    height: 10%;
    width: 100%;
    float: right;
    z-index: 1;
}


footer{
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #333;
    color: white;
    text-align: center;
}