/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding: 1rem;
    position: relative;
    background-image: url(../Images/mainHeader.png);
    font-family: Open Sans, sans-serif;
}

.nvsLogo img {
    width: 175px;
    height: auto;
}

.navBar {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 20px;
}

.navBar a, .dropbtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #3e2a75;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navBar a:hover, .navBar a:focus, .dropbtn:hover, .dropbtn:focus {
    background-color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: auto; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e2a75;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: auto; 
}

.dropdown-content a {
    color: white;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #3e2a75;
}

.dropdown .dropbtn:hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
}


.dropdown-content .jan{ 
    border-bottom-left-radius: 0%; 
    border-bottom-right-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .mec, .dropdown-content .rep{ 
    border-radius: 0%; 
    margin-right: 0px; 
}

.dropdown-content .oth{ 
    border-top-left-radius: 0%; 
    border-top-right-radius: 0%; 
    margin-right: 0px; 
}

.requestQuote {
    background-color: transparent;
    color: #3e2a75;
    border-radius: 20px;
    border: 2px solid #3e2a75;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.requestQuote:hover, .requestQuote:focus {
    background-color: #3e2a75;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a.requestQuoteMobile, .plus-icon {
    display: none;
}

.burger {
    display: none;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .navBar a, .dropbtn, .requestQuote {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .nvsLogo img {
        width: 125px;
    }
}

@media screen and (max-width: 1100px) {
    .navBar a, .dropbtn, .requestQuote {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    .nvsLogo img {
        width: 100px;
    }
}

@media screen and (max-width: 915px) {
    .header {
        justify-content: space-between;
    }

    .nvsLogo img {
        width: 4em;
        height: auto;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        z-index: 10;
        gap: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    .navBar.active {
        max-height: 1000px; 
    }

    .navBar a {
        display: block;
        padding: 0.75rem 1rem;
        border-bottom: 1px solid #ccc;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        text-align: left;
    }

    .navBar .dropdown {
        width: 100%;
    }

    .navBar a:not(.dropbtn) {
        margin-bottom: 0;
    }

    .navBar .dropdown-content {
        display: block;
        position: static;
        background-color: transparent;
        box-shadow: none;
        transition: max-height 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
        width: 100%;
    }

    .navBar .dropdown.active .dropdown-content {
        max-height: 500px; 
    }

    .navBar .dropdown-content a {
        color: #333;
        background-color: #fff;
        width: 100%;
        display: block;
        border-bottom: 1px solid #ccc;
        padding-left: 1rem;
    }

    .plus-icon {
        display: inline-block;
        margin-left: 5px;
        font-size: 1.2rem;
        font-weight: bold;
        transition: transform 0.3s ease-in-out;
        position: absolute;
        bottom: 8px; 
    }

    .requestQuote {
        display: none;
    }

    .requestQuoteMobile {
        display: inline-block;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: #3e2a75;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .burger.active .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.active .line2 {
        opacity: 0;
    }

    .burger.active .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}